<%- include('./partials/head') %>

<main>
    <article>
        <h2><%= data.longTitle %></h2>
        <div>
            <img src="<%=data.webImage.url.slice(0, -3)+"=s300"%>">
        </div>
        <h3><%=data.longTitle%></h3>
        <p id="description"><%=data.plaqueDescriptionEnglish%></p>
    </article>
</main>

<%- include('./partials/foot') %>