<%- include('./partials/head') %>

<header>
    <h1>Rijksmuseum Kunstwerken</h1>
    <section></section>
    <p></p>
</header>
<main>
    <p id="feedback-melding"></p>
<article id="error-melding">
    <p></p>
</article>
<form id="searchForm" method="GET" action="/search">
    <input id="searchBalk" type="search" name="q" placeholder="Kunstwerk zoeken...">
    <button type="submit" id="searchButton" value="search">Zoeken</button>
</form>
<h2 id="error"></h2>
<section>
    <h1 id="results-header"></h1>
    <ul id="resultsList"></ul>
</section>
<section id="mainContent" class="">
   <ul>
     <% data.forEach((artObject) => { %>
    <li>
        <h2>
            <%=artObject.longTitle%>
           </h2>
        <p>
            <%=artObject.titles%>
        </p>
        <img src=<%=artObject.webImage.url.slice(0, -3)+"=s300"%> alt=<%=artObject.title%>>
        </li>
    <% }) %>   
</ul>
</section>
<a href="../error.html">Test error.html</a>
</main>

<%- include('./partials/foot') %>

  