<%- include('./partials/head') %>

<header>
    <h1>Rijks Kunstwerken Bibliotheek</h1>
</header>
<main>
    <p>
        Welkom bij de Rijksmuseum online kunstwerken bibliotheek. Ontdek
        hier nieuwe kunstwerken of zoek zelf naar jouw favoriete werken!
        Veel plezier met deze online Rijksmuseum
    </p>
<form id="searchForm" method="GET" action="/search">
    <input id="searchBalk" type="search" name="q" placeholder="Kunstwerk zoeken...">
    <button type="submit" id="searchButton" value="search">Zoeken</button>
</form>
   <ul>
     <% data.forEach((artObject) => { %>
    <li>
        <h2>
            <%=artObject.title%>
           </h2>
           <div>
            <a href="<%=artObject.objectNumber%>">
                <img src=<%=artObject.webImage.url.slice(0, -3)+"=s500" %> alt=<%=artObject.title%>>
             </a>
           </div>
        <p>
            <%=artObject.title%>
        </p>
        </li>
    <% }) %>   
</ul>
</section>
<a href="../error.html">Test error.html</a>
</main>

<%- include('./partials/foot') %>

<!-- .slice(0, -3)+"=s500" -->